<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% for manager in page_obj %}
        <div>
            <ul>
                {{ manager }}
                {% for teamlead in manager.subordinates.all %}
                    <li>
                            {{ teamlead }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
    {% endif %}

</body>
</html>